# Configurações do Banco de Dados Postgres
PG_HOST=chaoticcow-postgres.cloudfy.live
PG_PORT=8277
PG_USER=postgres
PG_PASSWORD=ltKPcRzBdQuFZXrTwBZQ
PG_DB=oliveira_db

# Configurações da API Gemini (Google Generative AI)
GEMINI_API_KEY=sua_chave_api_aqui

# Configurações do Servidor (opcional)
PORT=3000
NODE_ENV=development
